<!DOCTYPE html>
<html>
    <head>
        <link href='//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
        <link href="//cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale==1, user-scalable=no, minimal-ui">
    </head>
    <body>
        <div id="app">
            <v-app id="inspire" dark>
                <v-navigation-drawer v-model="drawer" clipped fixed app>
                    <v-list dense>
                        <v-list-tile @click="">
                        <v-list-tile-action>
                            <v-icon>dashboard</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Dashboard</v-list-tile-title>
                        </v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile @click="">
                        <v-list-tile-action>
                            <v-icon>settings</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Settings</v-list-tile-title>
                        </v-list-tile-content>
                        </v-list-tile>
                    </v-list>
                </v-navigation-drawer>
                <v-toolbar app fixed clipped-left>
                    <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
                    <v-toolbar-title>Application</v-toolbar-title>
                </v-toolbar>
                <v-content>
                    <v-container fluid fill-height>

                    <v-tabs v-model="active" color="purple" dark slider-color="pink"
                    >
                    <v-tab
                        v-for="n in 3"
                        :key="n"
                        ripple
                    >
                        Item {{ n }}

                    </v-tab>
                    <v-tab-item
                        v-for="n in 3"
                        :key="n"
                    >
                        <v-card flat>
                        <v-card-text>{{ text }}</v-card-text>
                        </v-card>
                    </v-tab-item>
                    </v-tabs>
                    </v-container>
                </v-content>
                <v-footer app fixed>
                <span>&copy; 2017</span>
                </v-footer>
            </v-app>
        </div>
        (right click and open in new tab)
        <script src="//cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="//cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
        <script src="//cdn.jsdelivr.net/npm/vue-wamp@1.6.1/lib/vue-wamp.min.js"></script>
        <script>
            new Vue({ 
                el: '#app',
                data: {
      
                    tab: null,
                    items: [
                    'web', 'shopping', 'videos', 'images', 'news'
                    ],
                    text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
      
                }
            })
        </script>
   </body>
</html>
